PORT=3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/archdb

TYPEORM_MIGRATION=./src/database/migrations/*.ts
TYPEORM_ENTITIES=./src/entity/*.ts
TYPEORM_MIGRATION_DIR=./src/database/migrations
TYPEORM_ENTITIES_DIR=./src/entity
